:css
  #{style_for(color.code)}

#header
  %h2
    Color for #{color.date.strftime("%A %B #{ordinalize(color.date.day)}")}
  %h1
    %code.code ##{color.code} | #{color.brightness}

#top-nav
  .btn-group
    %a.button.previous-day(href="#{permalink_for(color.date - 1)}")
      << Previous Day
    %a.button.today(href="/")
      Today
    %a.button.next-day(href="#{permalink_for(color.date + 1)}")
      Next Day >>

#side-nav
  - # nothing here

#content
  %p
    You can come back to this color using the permalink:
    %a(href="#{permalink_for(color.date)}")
      = permalink_for(color.date)
 
#ads
  The ADS


