:css
  #{style_for(code)}

%h2
  Color for #{date.strftime("%A %B #{ordinalize(date.day)}")}
%h1
  %code.code ##{code}

.btn-group
  %a.button(href="#{permalink_for(date - 1)}")
    Previous Day
  %a.button(href="/")
    Today
  %a.button(href="#{permalink_for(date + 1)}")
    Next Day

%h4
  Permalink:
  %a(href="#{permalink_for(date)}")
    = permalink_for(date)
